<!doctype html>
<html>
<head>
    <meta charset=utf-8 />
    <title>{% if page.title %} {{ page.title }} | {% endif %} CV</title>
    <link href="media/cv-screen.css" type="text/css" rel="stylesheet" media="screen">
    <link href="media/cv-print.css" type="text/css" rel="stylesheet" media="print">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
</head>
<body>
    <div id="main">
        <div id="content">
            {{ content }}
        </div>
    </div>
    
    <script>
    // Auto-number publications in descending order
    document.addEventListener('DOMContentLoaded', function() {
        var pubDiv = document.getElementById('publications');
        if (pubDiv) {
            // Get all paragraphs that contain a code element (the year) - these are publication entries
            // In the markdown, year is inline with the first publication of that year
            var allP = pubDiv.querySelectorAll('p');
            var pubs = [];
            for (var i = 0; i < allP.length; i++) {
                // Include paragraphs that have a code element (year) OR start with author names
                // Skip the Google Scholar link paragraph (contains "Publication list")
                var text = allP[i].textContent || '';
                if (text.indexOf('Publication list') === -1 && text.trim().length > 0) {
                    pubs.push(allP[i]);
                }
            }
            var total = pubs.length;
            
            for (var j = 0; j < pubs.length; j++) {
                var num = total - j;
                var numSpan = document.createElement('span');
                numSpan.className = 'pub-number';
                numSpan.textContent = num + '. ';
                pubs[j].insertBefore(numSpan, pubs[j].firstChild);
            }
        }
    });
    </script>
</body>
</html>
