<!doctype html>
<html>
<head>
    <meta charset=utf-8 />
    <title>{% if page.title %} {{ page.title }} | {% endif %} CV</title>
    <link href="media/cv-screen.css" type="text/css" rel="stylesheet" media="screen">
    <link href="media/cv-print.css" type="text/css" rel="stylesheet" media="print">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
</head>
<body>
    <div id="main">
        <div id="content">
            {{ content }}
        </div>
    </div>
    
    <script>
    // Auto-number publications in descending order
    document.addEventListener('DOMContentLoaded', function() {
        // Find the Publications heading
        var pubHeading = document.getElementById('publications');
        if (!pubHeading) return;
        
        // Collect all paragraphs between Publications and the next h2
        var pubs = [];
        var sibling = pubHeading.nextElementSibling;
        
        while (sibling && sibling.tagName !== 'H2') {
            if (sibling.tagName === 'P') {
                var text = sibling.textContent || '';
                if (text.indexOf('Publication list') === -1 && text.trim().length > 0) {
                    pubs.push(sibling);
                }
            }
            sibling = sibling.nextElementSibling;
        }
        
        // Number them in descending order
        var total = pubs.length;
        for (var j = 0; j < pubs.length; j++) {
            var num = total - j;
            var pub = pubs[j];
            
            // Find where to insert the number
            // If there's a <br>, insert after the last <br> (after year line)
            var brElements = pub.getElementsByTagName('br');
            
            if (brElements.length > 0) {
                // Get the last BR (in case there are multiple)
                var lastBr = brElements[brElements.length - 1];
                
                // Insert number after the BR
                var numText = document.createTextNode(num + '. ');
                if (lastBr.nextSibling) {
                    // If BR has text after it, check if it starts with whitespace
                    if (lastBr.nextSibling.nodeType === 3) {
                        // It's a text node - prepend the number to it
                        lastBr.nextSibling.textContent = num + '. ' + lastBr.nextSibling.textContent.replace(/^\s+/, '');
                    } else {
                        // It's an element - insert text node before it
                        pub.insertBefore(numText, lastBr.nextSibling);
                    }
                } else {
                    pub.appendChild(numText);
                }
            } else {
                // No BR - insert at beginning
                var firstChild = pub.firstChild;
                if (firstChild && firstChild.nodeType === 3) {
                    // First child is text - prepend number
                    firstChild.textContent = num + '. ' + firstChild.textContent.replace(/^\s+/, '');
                } else {
                    // First child is element - insert text before it
                    var numText = document.createTextNode(num + '. ');
                    pub.insertBefore(numText, firstChild);
                }
            }
        }
    });
    </script>
</body>
</html>
